.title h2{
    text-align: center;
    margin-top: 2rem;
}

.media{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-top: 2rem;
    gap: 12px;
    justify-content: center;
}

.media .event-data{
    display: block;
    width: 30%;
    height: 600px;
    border: 1px solid #eb2fa3;
    background: #eb2fa3;
    color: #fff;
}

.media .event-data .text{
    margin-left: 1rem;
    margin-top: 1rem;
}
.media .event-data .text .description{
    font-weight: bold;
    font-size: 18px;
}

img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}

video{
    height: 400px;
    width: 100%;
}

@media screen and (max-device-width: 768px){
    .media{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: auto;
        gap: 8px;
    }
     .media .event-data{
        width: 100%;
        
        height: 300px;
     }

     video{
        height: 80%;
        width: 100%;
     }

     .media .event-data .text{
        margin-left: 8px;
        margin-top: 8px;
    }

    .media .event-data .text .description{
        font-weight: bold;
        font-size: 12px;
    }

    .media .event-data .text .date{
        font-size: 10px;
    }
}